<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VideoPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FEA3E7F51CFC6CA100513066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA3E80E1CFC6CA200513066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA3E8191CFC6CA200513066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
